h2 {
	color: #333 !important;
}

.big-price-range-slider {
	width: 100%;
	float: left;
	padding: 0px 2px;
}
.big-price-range-slider .range-value {
	margin: 0;
}
.big-price-range-slider .range-value input {
	width: 100%;
	background-color: transparent;
	color: #000;
	font-size: 11px;
	text-align: right;
	font-weight: initial;
	box-shadow: none;
	border: none;
	margin: 20px 0 20px 0;
}
.big-price-range-slider p.range-value {
	text-align: right;
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
}
.big-price-range-slider .range-bar {
	border: none;
	background: #000;
	height: 3px;
	width: 96%;
	margin-left: 8px;
}
.big-price-range-slider .ui-slider-range {
	background: #06b9c0;
}
.big-price-range-slider .ui-slider-handle {
	border: none;
	border-radius: 25px;
	background: #fff;
	border: 2px solid #06b9c0;
	height: 17px;
	width: 17px;
	top: -0.52em;
	cursor: pointer;
}
.big-price-range-slider .ui-slider-handle + span {
	background: #06b9c0;
}

.big-price-range-slider2 {
	width: 100%;
	float: left;
	padding: 0px 2px;
}
.big-price-range-slider2 .range-value {
	margin: 0;
}
.big-price-range-slider2 .range-value input {
	width: 100%;
	background-color: transparent;
	color: #000;
	font-size: 11px;
	text-align: right;
	font-weight: initial;
	box-shadow: none;
	border: none;
	margin: 20px 0 20px 0;
}
.big-price-range-slider2 p.range-value {
	text-align: right;
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
}
.big-price-range-slider2 .range-bar {
	border: none;
	background: #000;
	height: 3px;
	width: 96%;
	margin-left: 8px;
}
.big-price-range-slider2 .ui-slider-range {
	background: #06b9c0;
}
.big-price-range-slider2 .ui-slider-handle {
	border: none;
	border-radius: 25px;
	background: #fff;
	border: 2px solid #06b9c0;
	height: 17px;
	width: 17px;
	top: -0.52em;
	cursor: pointer;
}
.big-price-range-slider2 .ui-slider-handle + span {
	background: #06b9c0;
}

.price-range-slider {
	width: 95%;
	float: left;
	padding: 0px 2px;
}
.price-range-slider .range-value {
	margin: 0;
}
.price-range-slider .range-value input {
	width: 100%;
	background-color: transparent;
	color: #000;
	font-size: 11px;
	text-align: right;
	font-weight: initial;
	box-shadow: none;
	border: none;
	margin: 20px 0 20px 0;
}
.price-range-slider p.range-value {
	text-align: right;
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
}
.price-range-slider .range-bar {
	border: none;
	background: #000;
	height: 3px;
	width: 96%;
	margin-left: 8px;
}
.price-range-slider .range-bar .ui-slider-range {
	background: #06b9c0;
}
.price-range-slider .range-bar .ui-slider-handle {
	border: none;
	border-radius: 25px;
	background: #fff;
	border: 2px solid #06b9c0;
	height: 17px;
	width: 17px;
	top: -0.52em;
	cursor: pointer;
}
.price-range-slider .range-bar .ui-slider-handle + span {
	background: #06b9c0;
}

.miles-range-slider {
	width: 95%;
	float: left;
	padding: 0px 2px;
}
.miles-range-slider .range-value {
	margin: 0;
}
.miles-range-slider .range-value input {
	width: 100%;
	background-color: transparent;
	color: #000;
	font-size: 11px;
	text-align: right;
	font-weight: initial;
	box-shadow: none;
	border: none;
	margin: 20px 0 20px 0;
}
.miles-range-slider p.miles-range-value {
	text-align: right;
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
}
.miles-range-slider .miles-range-bar {
	border: none;
	background: #000;
	height: 3px;
	width: 96%;
	margin-left: 8px;
}
.miles-range-slider .miles-range-bar .ui-miles-slider-range {
	background: #06b9c0;
}
.miles-range-slider .miles-range-bar #miles {
	width: 100%;
}
.miles-range-slider .miles-range-bar .ui-slider-handle {
	border: none;
	border-radius: 25px;
	background: #fff;
	border: 2px solid #06b9c0;
	height: 17px;
	width: 17px;
	top: -0.52em;
	cursor: pointer;
}
.miles-range-slider .miles-range-bar .ui-slider-handle + span {
	background: #06b9c0;
}

.days-range-slider {
	width: 95%;
	float: left;
	padding: 0px 2px;
}
.days-range-slider .range-value {
	margin: 0;
}
.days-range-slider .range-value input {
	width: 100%;
	background-color: transparent;
	color: #000;
	font-size: 11px;
	text-align: right;
	font-weight: initial;
	box-shadow: none;
	border: none;
	margin: 20px 0 20px 0;
}
.days-range-slider p.days-range-value {
	text-align: right;
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
}
.days-range-slider .days-range-bar {
	border: none;
	background: #000;
	height: 3px;
	width: 96%;
	margin-left: 8px;
}
.days-range-slider .days-range-bar .ui-days-slider-range {
	background: #06b9c0;
}
.days-range-slider .days-range-bar #days {
	width: 100%;
}
.days-range-slider .days-range-bar .ui-slider-handle {
	border: none;
	border-radius: 25px;
	background: #fff;
	border: 2px solid #06b9c0;
	height: 17px;
	width: 17px;
	top: -0.52em;
	cursor: pointer;
}
.days-range-slider .days-range-bar .ui-slider-handle + span {
	background: #06b9c0;
}

.fuel-range-slider {
	width: 95%;
	float: left;
	padding: 0px 2px;
}
.fuel-range-slider .range-value {
	margin: 0;
}
.fuel-range-slider .range-value input {
	width: 100%;
	background-color: transparent;
	color: #000;
	font-size: 11px;
	text-align: right;
	font-weight: initial;
	box-shadow: none;
	border: none;
	margin: 20px 0 20px 0;
}
.fuel-range-slider p.fuel-range-value {
	text-align: right;
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
}
.fuel-range-slider .fuel-range-bar {
	border: none;
	background: #000;
	height: 3px;
	width: 96%;
	margin-left: 8px;
}
.fuel-range-slider .fuel-range-bar .ui-fuel-slider-range {
	background: #06b9c0;
}
.fuel-range-slider .fuel-range-bar #fuel {
	width: 100%;
}
.fuel-range-slider .fuel-range-bar .ui-slider-handle {
	border: none;
	border-radius: 25px;
	background: #fff;
	border: 2px solid #06b9c0;
	height: 17px;
	width: 17px;
	top: -0.52em;
	cursor: pointer;
}
.fuel-range-slider .fuel-range-bar .ui-slider-handle + span {
	background: #06b9c0;
}