
.cxm-pro-list .cxm-detail .cxm-content p {
    font-size: 13px;
    line-height: 18px;
    text-align: -webkit-auto;
}
.cxm-pro-list .cxm-detail .cxm-content h2 a {
    font-size: 16px;
    color: #666;
}
.cxm-pro-list:hover{
background-color: #fff;	
box-shadow: none;
}
.cxm-detail:hover{
background-color: #eee;		
}

hr{
color: #999;
margin-top: 0.5rem;
margin-bottom: 1rem;	
}


  .list-group-item{
	background-color: #eee;  
  }
.cxm-list-group .list-group-item .badge {
    position: absolute;
    top: 10px;
	padding: 10px;
	font-size: 10px;
    right: 10px;
    border-radius: 50%;
	color:#666;
	font-weight: 400;
    background-color: #fafcff;
    border: 1px solid #0F346C ;
}

.card-header{
color:#0F346C ;
padding: .75rem 0.50rem;
border-bottom: 1px solid #ccc;
font-weight: bold;
 background-color: rgba(0,0,0,.0);
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.7rem;
}
.cxm-facts {
    margin: 5px 0px;
	border-top: 1px solid #eee;
}
.fc0 {
    color: #666 !important;
}


#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

.radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
.btn{
    font-size: 0.6rem;	
}
label{
  font-size: 0.90rem;		
}


  .list-group-item{
	background-color: #eee;  
  }
.cxm-list-group .list-group-item .badge {
    position: absolute;
    top: 10px;
	padding: 10px;
	font-size: 10px;
    right: 10px;
    border-radius: 50%;
	color:#666;
	font-weight: 400;
    background-color: #fafcff;
    border: 1px solid #0F346C ;
}
.card-header{
color:#0F346C ;
padding: .75rem 0.50rem;
border-bottom: 1px solid #ccc;
font-weight: bold;
 background-color: rgba(0,0,0,.0);
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.7rem;
}
.cxm-facts {
    margin: 5px 0px;
	border-top: 1px solid #eee;
}
.fc0 {
    color: #666 !important;
}
.border-none{
	border: 0px;
	
}

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

.radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

label{
  font-size: 0.90rem;		
}

  
.uk-card-default {
    background: #fff;
    color: #666;
    box-shadow: 0 0px 0px rgba(0,0,0,.00);
}

.uk-card-primary {
    background: #106a8c;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.uk-card-client {
    background: #e2e2e2;
    color: #666;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.uk-width-expand {
 border: 1px solid #ccc;
}

.uk-card-default .uk-card-footer {
    border-top: 0px solid #e5e5e5;
}


.uk-section {
padding-top: 10px;
padding-bottom: 10px;		
}

.uk-width-large {
    width: 90%;
}
.uk-card-small.uk-card-body {
  padding: 5px 8px;
  font-size: 13px;
}

.uk-border-remove {
  border: 0 none;
}

textarea {
  background: none !important;
  resize: none;
}

@keyframes dot-anim {
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -6px);
  }
  0% {
    transform: translate(0, 0);
  }
}
.etc i {
  width: 6px;
  height: 6px;
  background: #222;
  border-radius: 100%;
  display: inline-block;
  animation: dot-anim 1s infinite linear;
  transform: translate(0, 0);
}

.etc {
  display: block;
  position: relative;
}
.etc i + i {
  margin-left: 3px;
}
.etc i:nth-child(1) {
  animation-delay: .5s;
}
.etc i:nth-child(2) {
  animation-delay: .4s;
}
.etc i:nth-child(3) {
  animation-delay: .3s;
}

.uk-card {
  position: relative;
  z-index: 1;
}

.guest .uk-card:after, .me .uk-card:after {
  width: 10px;
  height: 45px;
  position: absolute;
  bottom: 0;
}

.guest .uk-card:after {
  background: #e2e2e2;
  left: -4px;
  clip-path: polygon(100% 70%, 0% 100%, 100% 100%);
}

.me .uk-card:after {
  background: #106a8c;
  right: -4px;
  clip-path: polygon(0 70%, 0% 100%, 100% 100%);
}

.border{
border:1px solid #ccc;		
}

.width{
width:100%;
padding: 6px;
	
}


.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 90%;
	margin:10px;
}
.rating input {
    position: absolute;
    left: -999999px;
}

.rating label {
    display: inline-block;
    font-size: 0;
}

.rating > label:before {
    position: relative;
    font: 24px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > label.selected:before,
.rating > label.selected ~ label:before {
    color: #f0ad4e;
    background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.white{
background-color: #fff;
margin:10px;
padding-top:15px;	
}
.grey{
background-color: #e2e2e2;	
padding: 15px;	
}
.width-75{
width:70%;
}
.margin-top{
margin-top: 15px;	
}

</style>



