.questioner li { border:0px solid #000; min-height: 350px; color:#016475; margin-bottom:300px;}

	#intro{
	margin-top:10%;
	}

	.questioner {
	  font-family: 'Montserrat', sans-serif; 
	  background-image: url('../images/questioner-back.jpg');
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-position: center; 
	}


	
.questioner ul, .questioner li { list-style: none;}
.questionerul{display:block;margin:50px auto;max-width:800px;}

.questioner li {-khtml-opacity:0.08;-moz-opacity:0.08;opacity:0.08;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";}
			
.questioner ul { position: relative;  font-family: 'Montserrat', sans-serif;  }
	
.questioner li { position: relative; opacity: 0.2; }
.questioner li.open { transition: opacity .5s ease-in-out 1s; opacity: 1; }

.questioner h2 { color:#fad05c; font-size:3em; margin-bottom:1.5em; text-align:center; font-family: 'Montserrat', sans-serif; }

.questioner p { font-size:180%; font-weight: bold; line-height:2;}

.quote {color:#0088A0; padding-left:1em; text-align:center;  padding-top:.5em; padding-bottom:.5em;font-size:120%;}



.questioner a.button {
display: inline-block;
cursor: default;
background-color: rgb(0, 136, 160);
width: auto;
margin-top: 1.5em;
line-height: 30px;
padding: 10px;
font-size: 22px;
font-weight:bold;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
  text-decoration:none;
text-align: center;
overflow: hidden;
-moz-transition: background-color ease-out 100ms 0;
-webkit-transition: background-color ease-out 100ms 0;
-o-transition: background-color ease-out 100ms 0;
transition: background-color ease-out 100ms 0;
color: #fff;
background-image: url(https://s3-eu-west-1.amazonaws.com/typeform-media-static/button-gradient-light.png);
border-top: 1px solid #cccccc;
border-left: 1px solid #cccccc;
border-right: 1px solid #cccccc;
border-bottom: 1px solid #cccccc;
box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3),0 2px 2px rgba(0, 0, 0, 0.16),transparent 0 0 0,transparent 0 0 0,transparent 0 0 0;
-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3),0 2px 2px rgba(0, 0, 0, 0.16),transparent 0 0 0,transparent 0 0 0,transparent 0 0 0;
-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3),0 2px 2px rgba(0, 0, 0, 0.16),transparent 0 0 0,transparent 0 0 0,transparent 0 0 0;
text-shadow: rgba(255, 255, 255, 0.4) 0px 1px 1px;
}

a.button:hover{
-moz-transition: background-color ease-out 100ms 0;
-webkit-transition: background-color ease-out 100ms 0;
-o-transition: background-color ease-out 100ms 0;
transition: background-color ease-out 100ms 0;
background-color: #fed46b;
cursor: pointer;}


.symbol { font-size:120%; color:#333}

input[type=radio]{
      font-family: 'Montserrat', sans-serif !important;
  font-size:200% !important;
margin-top:-2em;
  color:#f44;

}
input[type=radio] + label {font-size:120% !important;
  line-height:2;
  margin-top:1.5em;
  margin-right:1em;
}

input[type=text], input[type=email], input[type=url]{
padding: 0 0 0 10px;
outline: 0!important;
border: 0;
font-size:150% !important;
background: 0;
color: #333;
border-bottom: 1px dashed #333;
font: inherit;
min-width: 30px;
}

table,tr,td { border:0px solid #ccc;}
thead tr{ margin-bottom:1.5em; color:#fad05c}
tbody td, thead td { width:130px; text-align:center; line-height:3;}

tbody tr:nth-child(odd) { background-color:#fff}
tbody th {padding-left:1em;}



.select
{
    display:block;
    vertical-align:middle;
    position:relative;
    width:auto;
  max-width:350px;
    height:40px;
    background:#f4f6fb;
    border:2px solid #d3dae7;
    border-radius:2px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.select:hover
{
    border-color:#c5cddf;
}

.select>select
{
    display:block;
    width:100%;
    height:40px;
    line-height:17px;
    color:#016475;
    background:#b1ced6;
    border:0;
    -webkit-appearance:none;
   outline:0;
    margin:0;
  font-size:120%;
    padding:7px 6px 6px 10px;
}

.select>select:focus
{
    color:#3c3c3c;
    outline:0;
    outline-offset:0;
    -moz-outline-radius:2px;
}

.select:before,.select:after
{
    content:'';
    position:absolute;
    pointer-events:none;
}

.select:before
{
    top:0;
    bottom:0;
    right:0;
    width:35px;
    background:inherit;
}

.select:after
{
    top:18px;
    right:13px;
    width:0;
    height:0;
    border:7px solid transparent;
    border-top-color:#016475;
}

iframe{
border: 4px solid #C3D7D8;
border-radius: 10px;
-webkit-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
opacity:0.7;
}
