.radios-to-slider {
    background-color: #e0e0e0;
    display: block;
    position: relative;
    margin-bottom: 80px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}

.radios-to-slider.medium {
    height: 22px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    padding: 5px;
}


/* Levels */

.radios-to-slider .slider-level {
    background-color: #fff;
    cursor: pointer;
    position: absolute;
    display: block;
}

.radios-to-slider .slider-level.slider-lower-level {
    opacity: 0.2;
}

.radios-to-slider.medium .slider-level {
    width: 22px;
    height: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -o-border-radius: 22px;
    border-radius: 22px;
    z-index: 2;
}


/* Labels */

.slider-label {
    position: absolute;
    display: block;
    cursor: pointer;
    color: #5e5e5e;
    text-align: center;
}

.slider-label-active {
    font-weight: bold;
}

.radios-to-slider.medium .slider-label {
    top: 50px;
    width: 44px;
}


/* Slider bar */

.radios-to-slider .slider-bar {
    background-color: #00b4f1;
    float: left;
    height: 100%;
    width: 0;
    pointer-events: none;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 32px !important;
}

.slider-bar.transition-enabled {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.radios-to-slider.medium .slider-bar {
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -o-border-radius: 22px;
    border-radius: 22px;
}


/* Slider Knob */

.slider-knob {
    float: right;
    background-color: #0977B5;
}

.radios-to-slider.medium .slider-knob {
    width: 32px;
    height: 32px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
}







.questioner li {
 position: relative;
 opacity: 1;
}
#radio-image { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
 -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; 
}

/* IMAGE STYLES */
#radio-image + img {
  cursor: pointer;
-webkit-transition: all 0.5s ease;
  transition: all 0.2s ease;
}

/* CHECKED STYLES */
#radio-image:checked + img {
  outline: 4px solid #0d5875;
-webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
-webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.39);
box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.39);
padding:10px;
height:120px;
}

.starrr{display:inline-block}.starrr i{font-size:30px;padding:0 1px;cursor:pointer;color:#016475}
#jquery-script-menu {
position: fixed;
height: 90px;
width: 100%;
top: 0;
left: 0;
border-top: 5px solid #316594;
background: #fff;
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
z-index: 999999;
padding: 10px 0;
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
}

.jquery-script-center {
width: 960px;
margin: 0 auto;
}
.jquery-script-center ul {
width: 212px;
float:left;
line-height:45px;
margin:0;
padding:0;
list-style:none;
}
.jquery-script-center a {
	text-decoration:none;
}
.jquery-script-ads {
width: 728px;
height:90px;
float:right;
}
.jquery-script-clear {
clear:both;
height:0;
}