.test{
	
	
}

.cxm-pro-list .cxm-detail .cxm-content p {
    font-size: 13px;
    line-height: 18px;
    text-align: -webkit-auto;
}
.cxm-pro-list .cxm-detail .cxm-content h2 a {
    font-size: 16px;
    color: #666;
}
.cxm-pro-list:hover{
background-color: #fff;	
box-shadow: none;
}
.cxm-detail:hover{
background-color: #eee;		
}

hr{
color: #999;
margin-top: 0.5rem;
margin-bottom: 1rem;	
}


  .list-group-item{
	background-color: #eee;  
  }
.cxm-list-group .list-group-item .badge {
    position: absolute;
    top: 10px;
	padding: 10px;
	font-size: 10px;
    right: 10px;
    border-radius: 50%;
	color:#666;
	font-weight: 400;
    background-color: #fafcff;
    border: 1px solid #0F346C ;
}

.card-header{
color:#0F346C ;
padding: .75rem 0.50rem;
border-bottom: 1px solid #ccc;
font-weight: bold;
 background-color: rgba(0,0,0,.0);
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.7rem;
}
.cxm-facts {
    margin: 5px 0px;
	border-top: 1px solid #eee;
}
.fc0 {
    color: #666 !important;
}


#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

.radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}


  .list-group-item{
	background-color: #eee;  
  }
.cxm-list-group .list-group-item .badge {
    position: absolute;
    top: 10px;
	padding: 10px;
	font-size: 10px;
    right: 10px;
    border-radius: 50%;
	color:#666;
	font-weight: 400;
    background-color: #fafcff;
    border: 1px solid #0F346C ;
}
.card-header{
color:#0F346C ;
padding: .75rem 0.50rem;
border-bottom: 1px solid #ccc;
font-weight: bold;
 background-color: rgba(0,0,0,.0);
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.7rem;
}
.cxm-facts {
    margin: 5px 0px;
	border-top: 1px solid #eee;
}
.fc0 {
    color: #666 !important;
}
.border-none{
	border: 0px;
	
}

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

.radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

label{
  font-size: 0.90rem;		
}

  
.uk-card-default {
    background: #fff;
    color: #666;
    box-shadow: 0 0px 0px rgba(0,0,0,.00);
}

.uk-card-primary {
    background: #106a8c;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.uk-card-client {
    background: #e2e2e2;
    color: #666;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.uk-width-expand {
 border: 1px solid #ccc;
}

.uk-card-default .uk-card-footer {
    border-top: 0px solid #e5e5e5;
}


.uk-section {
padding-top: 10px;
padding-bottom: 10px;		
}

.uk-width-large {
    width: 90%;
}
.uk-card-small.uk-card-body {
  padding: 5px 8px;
  font-size: 13px;
}

.uk-border-remove {
  border: 0 none;
}

textarea {
  background: none !important;
  resize: none;
}

@keyframes dot-anim {
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -6px);
  }
  0% {
    transform: translate(0, 0);
  }
}
.etc i {
  width: 6px;
  height: 6px;
  background: #222;
  border-radius: 100%;
  display: inline-block;
  animation: dot-anim 1s infinite linear;
  transform: translate(0, 0);
}

.etc {
  display: block;
  position: relative;
}
.etc i + i {
  margin-left: 3px;
}
.etc i:nth-child(1) {
  animation-delay: .5s;
}
.etc i:nth-child(2) {
  animation-delay: .4s;
}
.etc i:nth-child(3) {
  animation-delay: .3s;
}

.uk-card {
  position: relative;
  z-index: 1;
}

.guest .uk-card:after, .me .uk-card:after {
  width: 10px;
  height: 45px;
  position: absolute;
  bottom: 0;
}

.guest .uk-card:after {
  background: #e2e2e2;
  left: -4px;
  clip-path: polygon(100% 70%, 0% 100%, 100% 100%);
}

.me .uk-card:after {
  background: #106a8c;
  right: -4px;
  clip-path: polygon(0 70%, 0% 100%, 100% 100%);
}

.border{
border:1px solid #ccc;		
}

.width{
width:100%;
padding: 6px;
	
}

.width-75{
width:70%;
}
.margin-top{
margin-top: 15px;	
}


.new-react-version {
  padding: 20px 20px;
  border: 0px solid #eee;
  border-radius: 20px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
  
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
}

.new-react-version .react-svg-logo {
  text-align: center;
  max-width: 60px;
  margin: 20px auto;
  margin-top: 0;
}

.success-box {
  margin:0px 0;
  padding:10px 10px;
  border:0px solid #eee;
  
}

.success-box img {
  margin-right:10px;
  display:inline-block;
  vertical-align:top;
}

.success-box > div {
  vertical-align:top;
  display:inline-block;
  color:#222;
}



/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:1.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
