/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 	
/* Handle */
::-webkit-scrollbar-thumb {
    background: #999; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff7702; 
}	


html {
  height: 100%;
  padding:0;
  margin:0;
  background-color: #fff;
}

#username-input{
display:none;	
	
}
/* body {
  position: absolute;
  top: 0;
  left: 0;
  padding:0;
  margin:0;
  height: 100%;
  width:100%;
  background: #fff; /* Old browsers 
  font-family: 'Montserrat', sans-serif;
} */

#chat-window {
  background-color: rgba(255,255,255);
  height: 100%;
}
#container {
  height: 85vh;
}
#header {
  margin: auto;
}
#input-div {
  background-color: #DED4D3;
  height: 5%;
}
#typing-row {
  height: 3%;
  font-weight: lighter;
  font-size: small;
  color: #BBA0A1;
  vertical-align: bottom;
}
#typing-placeholder {
  height: 100%;
  padding-left: 10px;
}
#message-list {
  overflow-y: auto;
  padding-right: 1%;
  padding-left: 1%;
}
#message-list.connected {
  height: 92%;
}
#message-list.disconnected {
  height: 80%;
}
#connect-panel {
  height: 15%;
  text-align: center;
  color: #DEC4C3;
}
#connect-panel.connected, #typing-row.disconnected {
  display: none;
}
#connect-panel.disconnected, #typing-row.disconnected {
  display: block;
}
#username-input {
  width: 70%;
  padding-left: 10px;
  height: 5vh;
  margin-left: 10px;
  margin-top: 10px;
  color: black;
}
#input-text {
    width: 100%;
    height: 75px;
    background: #fff;
	border:2px solid #127ba3;
    outline: none;
    padding-left: 55px;
    padding-right: 55px;
    color: #999;
	font-size: 18px;
	padding:10px;
	border-radius: 5px;
    font-weight: 500;
	-webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.49);
-moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.49);
box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.49);
}
.with-shadow {
  -webkit-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.53);
  -moz-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.53);
  box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.53);
}
#channel-panel {
  border-left: 0px solid #864035;
}
#channel-list {
  overflow-y: auto;
  overflow-x: hidden;
}
#channel-list.showing {
  max-height: 75vh;
}
#channel-list.not-showing {
  max-height: 80vh;
}
#new-channel-input {
  background-color: #F8E6E4;
  color: #B0ADAE;
  border: 0;
  resize: none;
  height: 5vh;
}
#new-channel-input-row.not-showing {
  display: none;
}
#new-channel-input-row.showing {
  display: block;
}
.own-message{
  float: left;	
  background-color: #127ba3;
  color:#fff;
  margin-right: 1%;
  border-radius: 5px;
  width:55%;

}

.other-message{
float:right;	
background-color:#7FBA5D;
width:55%;
color:#fff;	
margin-right: 4%;
margin-right: 1%;
border-radius: 5px;
}

.message-info-row {
  padding-top: 0.7vh;
  padding-bottom: 0.5vh;
}
.message-body {
  word-break: break-all;
  text-align: justify;
  text-justify: inter-word;
  font-size: small;
  font-weight: 300;
}
.message-username {
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.message-date {
  margin-right: 12px;
  margin-bottom: 5px;
  font-weight: lighter;
  color: #fff;
  font-size: 12px;
}
.no-margin {
 margin-top: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.margin-left{
margin-left: 2%;	
margin-right: 2%;	
}

#add-channel-image {
  padding-left: 20px;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  height: 5vh;
  cursor: pointer;
}
.channel-element {
  width: 100%;
  height: 6vh;
  margin: 0;
  padding-left: 10px;
  line-height: 6vh;
  overflow: hidden;
  font-size: normal;
  border-right: 1px solid #ccc;
}
.unselected-channel {
  color: #999;
}
.unselected-channel:hover {
color: #555;
cursor: pointer;
background: rgb(238,238,238);
background: -moz-linear-gradient(left, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
background: -webkit-linear-gradient(left, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
background: linear-gradient(to right, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 );

border-radius: 15px 0px 0px 15px; 
font-weight: bold; 
}
.selected-channel {
 background: rgb(238,238,238);
background: -moz-linear-gradient(left, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
background: -webkit-linear-gradient(left, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
background: linear-gradient(to right, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 );
color: #555;
border-radius: 15px 0px 0px 15px; 
font-weight: bold;

 
}
#logo-image {
  height: 5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
#logo-column {
  text-align: center;
}
.right-align {
  text-align: right;
  padding: 0;
}
.left-align {
  text-align: left;
  padding: 0;
}
#status-span {
  color: #EE887C;
}
#leave-span {
  cursor: pointer;
  color: #370606;
  margin-left: 1vh;
}
#delete-channel-span {
  cursor: pointer;
  color: #370606;
}
#status-row {
  margin-bottom: 1vh;
}
#status-row.connected {
  visibility: visible;
}
#status-row.disconnected {
  visibility: hidden;
}
#connect-image {
  height: 5vh;
  margin-top: 1vh;
  cursor: pointer;
}
.member-status {
  padding: 5px;
  font-weight: 300;
  color: #C0A5A7;
  text-align: center;
  border-top: 1px solid #BCA1A3;
  border-bottom: 1px solid #BCA1A3;
  margin-top: 1%;
}
