
h2{
color:#333 !important;
}
	.big-price-range-slider{
	 width:100%;
	  float:left;
	  padding:0px 2px;
		.range-value {
			margin:0;
			input {
				width:100%;
				background-color:transparent;
				color: #000;
				font-size: 11px;
				text-align:right;
				font-weight: initial;
				box-shadow: none;
				border: none;
			
				margin: 20px 0 20px 0;
			}
		}
	
		p.range-value{
		text-align:right;
		font-size: 10px;
		margin-left:auto;
		margin-right:auto;
		}
	
	.range-bar {
		border: none;
		background: #000;
		height: 3px;	
		width: 96%;
		margin-left: 8px;
	}
	.ui-slider-range {
	  background:#06b9c0;
	 }
		
		.ui-slider-handle {
			border:none;
			border-radius:25px;
			background:#fff;
			border:2px solid #06b9c0;
			height:17px;
			width:17px;
			top: -0.52em;
			cursor:pointer;
		}
		.ui-slider-handle + span {
			background:#06b9c0;
		}
	}

	
	
	
	
	.big-price-range-slider2{
	 width:100%;
	  float:left;
	  padding:0px 2px;
		.range-value {
			margin:0;
			input {
				width:100%;
				background-color:transparent;
				color: #000;
				font-size: 11px;
				text-align:right;
				font-weight: initial;
				box-shadow: none;
				border: none;
			
				margin: 20px 0 20px 0;
			}
		}
	
		p.range-value{
		text-align:right;
		font-size: 10px;
		margin-left:auto;
		margin-right:auto;
		}
	
	.range-bar {
		border: none;
		background: #000;
		height: 3px;	
		width: 96%;
		margin-left: 8px;
	}
	.ui-slider-range {
	  background:#06b9c0;
	 }
		
		.ui-slider-handle {
			border:none;
			border-radius:25px;
			background:#fff;
			border:2px solid #06b9c0;
			height:17px;
			width:17px;
			top: -0.52em;
			cursor:pointer;
		}
		.ui-slider-handle + span {
			background:#06b9c0;
		}
	}
	
	
		
	.price-range-slider{
	 width:95%;
	  float:left;
	  padding:0px 2px;
		.range-value {
			margin:0;
			input {
				width:100%;
				background-color:transparent;
				color: #000;
				font-size: 11px;
				text-align:right;
				font-weight: initial;
				box-shadow: none;
				border: none;
			
				margin: 20px 0 20px 0;
			}
		}
	
		p.range-value{
		text-align:right;
		font-size: 10px;
		margin-left:auto;
		margin-right:auto;
		}
	
	.range-bar {
		border: none;
		background: #000;
		height: 3px;	
		width: 96%;
		margin-left: 8px;
		
	.ui-slider-range {
	  background:#06b9c0;
	 }
		
		.ui-slider-handle {
			border:none;
			border-radius:25px;
			background:#fff;
			border:2px solid #06b9c0;
			height:17px;
			width:17px;
			top: -0.52em;
			cursor:pointer;
		}
		.ui-slider-handle + span {
			background:#06b9c0;
		}
	}
}		
		
		
		
		
		
		
		
		
		
		
		
	.miles-range-slider{
	 width:95%;
	  float:left;
	  padding:0px 2px;
		.range-value {
			margin:0;
			input {
				width:100%;
				background-color:transparent;
				color: #000;
				font-size: 11px;
				text-align:right;
				font-weight: initial;
				box-shadow: none;
				border: none;
			
				margin: 20px 0 20px 0;
			}
		}
	
		p.miles-range-value{
		text-align:right;
		font-size: 10px;
		margin-left:auto;
		margin-right:auto;
		}
	
	.miles-range-bar {
		border: none;
		background: #000;
		height: 3px;	
		width: 96%;
		margin-left: 8px;
		
	.ui-miles-slider-range {
	  background:#06b9c0;
	 }
		#miles{
		width: 100%;
		}
		.ui-slider-handle {
			border:none;
			border-radius:25px;
			background:#fff;
			border:2px solid #06b9c0;
			height:17px;
			width:17px;
			top: -0.52em;
			cursor:pointer;
		}
		.ui-slider-handle + span {
			background:#06b9c0;
		}
	}
}
		





	.days-range-slider{
	 width:95%;
	  float:left;
	  padding:0px 2px;
		.range-value {
			margin:0;
			input {
				width:100%;
				background-color:transparent;
				color: #000;
				font-size: 11px;
				text-align:right;
				font-weight: initial;
				box-shadow: none;
				border: none;
			
				margin: 20px 0 20px 0;
			}
		}
	
		p.days-range-value{
		text-align:right;
		font-size: 10px;
		margin-left:auto;
		margin-right:auto;
		}
	
	.days-range-bar {
		border: none;
		background: #000;
		height: 3px;	
		width: 96%;
		margin-left: 8px;
		
	.ui-days-slider-range {
	  background:#06b9c0;
	 }
		#days{
		width: 100%;
		}
		.ui-slider-handle {
			border:none;
			border-radius:25px;
			background:#fff;
			border:2px solid #06b9c0;
			height:17px;
			width:17px;
			top: -0.52em;
			cursor:pointer;
		}
		.ui-slider-handle + span {
			background:#06b9c0;
		}
	}
}
		

		
		




	.fuel-range-slider{
	 width:95%;
	  float:left;
	  padding:0px 2px;
		.range-value {
			margin:0;
			input {
				width:100%;
				background-color:transparent;
				color: #000;
				font-size: 11px;
				text-align:right;
				font-weight: initial;
				box-shadow: none;
				border: none;
			
				margin: 20px 0 20px 0;
			}
		}
	
		p.fuel-range-value{
		text-align:right;
		font-size: 10px;
		margin-left:auto;
		margin-right:auto;
		}
	
	.fuel-range-bar {
		border: none;
		background: #000;
		height: 3px;	
		width: 96%;
		margin-left: 8px;
		
	.ui-fuel-slider-range {
	  background:#06b9c0;
	 }
		#fuel{
		width: 100%;
		}
		.ui-slider-handle {
			border:none;
			border-radius:25px;
			background:#fff;
			border:2px solid #06b9c0;
			height:17px;
			width:17px;
			top: -0.52em;
			cursor:pointer;
		}
		.ui-slider-handle + span {
			background:#06b9c0;
		}
	}
}
		
