body {}

h1, h2, h3 {font-family: 'Source Sans Pro', sans-serif;}

.fc0 {color:#F26226 !important;}
.fc1 {color:#0F346C !important;}

.bgc1 {background-color:#0F346C !important;}
.bgc2 {background-color:rgba(21, 140, 186, 0.1) !important;}
.bgc3 {background-color:#DB3236 !important;}
.bgc4 {background-color:#0084B4 !important;}
.bgc5 {background-color:#0077B5 !important;}
.bgc6 {background-color:#0F346C !important;}

.fs10 {font-size:10px !important;}
.fs12 {font-size:12px !important;}
.fs14 {font-size:14px !important;}
.fs18 {font-size:18px !important;}
.fs24 {font-size:24px !important;}
.fs48 {font-size:48px !important;}

.lh14 {line-height:14px !important;}
.lh16 {line-height:16px !important;}
.lh18 {line-height:18px !important;}

.w-auto {width:auto;}
.bg-cover {background-size:cover;}

.bgi1 {background-image:url(../images/bgi1.jpg); background-position:center;}
.bgi2 {background-image:url(../images/bgi2.jpg); background-position:center;}
.bgi3 {background-image:url(../images/bgi3.jpg); background-position:center;}
.bgi4 {background-image:url(../images/bgi4.jpg); background-position:center;}

.bg-trans1 {background-color:rgba(255, 255, 255, 0.8);}
.bg-trans2 {background-color:rgba(23, 162, 184, 0.9);}
.bg-trans3 {background-color:rgba(255, 193, 7, 0.9);}

.bg-ptrn1 {background:url(../images/bg-ptrn1.jpg);}

.btn-1 {color:#FFF; background-color:#F26226; border-color:#D94A0D;}
.btn-outline-1 {color:#F26226; background-color:transparent; background-image:none; border-color:#F26226;}
.btn-1:hover, .btn-outline-1:hover {color:#FFF; background-color:#D94A0D; border-color:#F26226;}

.text-shadow-1 {text-shadow:2px 2px 2px rgba(0, 0, 0, 0.6);}

.header-margin {margin-top:70px;}

.page-title h1 {color:#FFF; font-weight:600; text-shadow:2px 2px 2px rgba(0, 0, 0, 0.6); text-align:center;}

.header {position:fixed; top:0px; width:100%; z-index:999; background-color:rgba(255, 255, 255, 0.8);}
.header.bg-header {background-color:rgba(255, 255, 255, 0.8);}
.header .logo {padding-top:10px;}
.header .logo img {width:118px;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;
}
.header .logo a {font-size:24px; font-weight:600;}
.header .logo a:hover {text-decoration:none;}

.header.bg-header .logo img {/*width:150px;*/}
.header .header-admin {color:#CCC;}
.header .header-admin a {color:#F26226; font-size:14px;}
.header .header-user a {color:#EEE; font-weight:bold;}

.header .cxm-ss-icons {position:fixed; top:35px; left:0; right:0; width:30%; margin:auto;}
.header .cxm-ss-icons a:first-child, .header .cxm-ss-icons a:last-child {margin:0px 10px;}
.header .cxm-ss-icons a:first-child {background-color:rgba(23, 162, 184, 0);}
.header .cxm-ss-icons a:last-child {background-color:rgba(255, 193, 7, 0);}
.home-page .header .cxm-ss-icons {opacity:0;
-webkit-transition: opacity 0.5s ease-out;
-moz-transition: opacity 0.5s ease-out;
-o-transition: opacity 0.5s ease-out;
transition: opacity 0.5s ease-out;
}
.header .cxm-ss-icons a img {width:70px;}

.home-page .header.bg-header .cxm-ss-icons {opacity:1;}
/*.home-page .header.bg-header .cxm-ss-icons a:first-child, .home-page .header.bg-header .cxm-ss-icons a:last-child {top:10px;}
.home-page .header.bg-header .cxm-ss-icons a:first-child {left:45%;}
.home-page .header.bg-header .cxm-ss-icons a:last-child {right:45%;}*/

.header .cxm-menu {padding-top:20px; padding-bottom:20px; text-align:right; font-size:20px;}
.header .cxm-menu ul, .header .cxm-menu ul li {padding:0; margin:0; list-style-type:none;}
.header .cxm-menu ul li {display:inline-block; position:relative;}
.header .cxm-menu ul li>a {padding-left:20px; margin-left:20px; border-left:4px dotted #0F346C; color:#0F346C; position:relative;}
.header .cxm-menu ul li>a:hover {color:#158CBA;}

.header .cxm-menu .menu-box {border:1px #158CBA solid; border-radius:5px; background:#FFF; padding:15px; position:absolute; top:45px; right:-12px; min-width:320px;}
.header .cxm-menu .menu-box:before {content:""; width:30px; height:20px; position:absolute; top:-20px; right:5px; background-color:#158CBA; 
-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);}

.header .cxm-menu .menu-box .heading {color:#106A8C; border-bottom:2px dotted #106A8C; padding-bottom:20px; margin-bottom:20px;}

.header .cxm-menu .menu-box .btn-close {color:#158CBA; position:absolute; right:20px;}

.header .cxm-menu .cxm-main-menu {text-align:left;}
.header .cxm-menu .cxm-main-menu li {display:block;}
.header .cxm-menu .cxm-main-menu li a {color:#999; border:none; padding:5px 5px; display:block; margin:0 5px; font-size:18px; border-bottom:1px #158CBA solid;}
.header .cxm-menu .cxm-main-menu li a:hover {text-decoration:none; background-color:#158CBA; color:#FFF;}

.header .cxm-menu .social-media {border-top:2px dotted #158CBA; padding-top:15px;}
.header #main-menu .social-media a {margin:0 2%;}
.header .cxm-menu .social-media a:hover {color:#0F346C;}

.header #login-menu, .header #contact-menu, .header #contact-menu-2 {max-width:550px; width:550px;}
.header #contact-menu .social-media a, .header #contact-menu-2 .social-media a {margin:0 1.5%;}

.header #main-menu {/*position:fixed; top:65px; bottom:0px; right:30px;*/ padding-bottom:100px;}
.header .cxm-menu #main-menu .social-media {position:absolute; bottom:20px; width:90%;}

.menu-overlay {position:fixed; top:65px; right:0; bottom:0; left:0; background-color:rgba(0, 0, 0, 0.8); z-index:9; display:none;}

.header .cxm-navbar-bg {background-color:rgb(15, 52, 108);}
.header.bg-header .cxm-navbar-bg {}
.header .cxm-navbar {padding:0;}
.header .cxm-navbar .nav-link {position:relative;}
.header .cxm-navbar .nav-link:hover {color:#F26226;}
.header .cxm-navbar .navbar-nav .active>.nav-link, .header .cxm-navbar .navbar-nav .nav-link.active, .header .cxm-navbar .navbar-nav .nav-link.show, .header .cxm-navbar .navbar-nav .show>.nav-link {background-color:#158CBA; color:#FFF}

.navbar-brand a{padding-left:20px; margin-left:20px; border-left:4px dotted #F26226; color:#0F346C;}

#cxm-home-slider {}
#cxm-home-slider .carousel-control-prev, #cxm-home-slider .carousel-control-next {width:5%;}
#cxm-home-slider .carousel-control-prev-icon, #cxm-home-slider .carousel-control-next-icon {background-image:none; font-size:24px; text-shadow:2px 2px 2px #666;}
#cxm-home-slider .cxm-slider-content {position:absolute; left:0; right:0; z-index:1; width:auto; margin:10% 5%;}

.box-eq {padding-top:20%; padding-bottom:20%; display:block; color:#FFF; font-size:30px; line-height:30px;}
.box-eq img {padding-bottom:14%; width:50%;}
.box-eq:hover {color:#FFF; text-decoration:none;}
.box-eq .btn {white-space:normal;}


.heading {font-size:24px; color:#202020; font-family:'Century Gothic',CenturyGothic,AppleGothic,sans-serif;}
.heading-sm {font-size:18px;}
.heading-lg {font-size:2.1875rem; line-height:40px;}

.bg-changer {-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;}

.hr1 {margin-top:10px; margin-bottom:10px;}

.list-quiz li {background-color:#F8F9FA; padding:10px 10px; margin-bottom:4px;}

#cxm-home-sliderPro .sp-full-screen-button {top:95px; color:#FFF; text-shadow:2px 2px 5px #999;}

#cxm-slider .carousel-indicators {position:static;}  
#cxm-slider .carousel-indicators li {width:150px; height:25px; text-indent:inherit; margin:0px 1px;}
#cxm-slider .carousel-indicators li.active {background-color:#F26226; color:#FFF;}

#cxm-slider .carousel-inner .carousel-item .slide-heading {position:absolute; top:20px; left:20px; color:#DDD; font-size:30px; font-weight:700;}

#cxm-slider-trands .carousel-inner .carousel-item .trands {color:#333; padding:4px; border-radius:5px;}
#cxm-slider-trands .carousel-inner .carousel-item .active {background-color:#F26226;}

#cxm-slider-searches .carousel-inner .carousel-item .search {color:#333; padding:4px; text-align:center; background-color:#FFF; margin:0px 1px;}
#cxm-slider-searches .carousel-inner .carousel-item .active {background-color:#F26226; color:#FFF;}
#cxm-slider-searches .carousel-control-prev, #cxm-slider-searches .carousel-control-next {width:3%;}
#cxm-slider-searches .carousel-control-prev {left:-25px;}
#cxm-slider-searches .carousel-control-next {right:-25px;}

#cxm-pro-slider .carousel-indicators li {width:150px; text-indent:inherit;}
#cxm-pro-slider .carousel-indicators li.active {opacity:0.5;}

#cxm-slider-testinonials .carousel-control-next, #cxm-slider-testinonials .carousel-control-prev {width:5%; color:#666; opacity:1;}
#cxm-slider-testinonials .carousel-control-next-icon, #cxm-slider-testinonials .carousel-control-prev-icon {font-size:24px; background-image:none; height:25px;}

.gplus-login {}
.gplus-login, .fb-login, .tt-login, .linkedin-login {margin-bottom:5px;}
.gplus-login .btn, .fb-login .btn, .tt-login .btn, .linkedin-login .btn  {min-width:170px; color:#FFF; border-bottom:none;}
.gplus-login .btn:hover, .fb-login .btn:hover, .tt-login .btn:hover, .linkedin-login .btn:hover {margin-top:0px; border-bottom-width:4px; color:#DDD;}
.gplus-login .input-group-text, .fb-login .input-group-text, .tt-login .input-group-text, .linkedin-login .input-group-text{width:35px; color:#FFF; border:none;}


.refine-search .card-header a {color:#333; font-size:16px; text-decoration:none; display:block;}
.refine-search .card-header a:before {font-family:FontAwesome; content:"\f068"; padding-right:5px; float:right;}
.refine-search .card-header a.collapsed:before {content:"\f067";}

.cxm-view-icon {font-size:24px;}
.cxm-view-icon a {font-size:24px; color:#DDD;}
.cxm-view-icon a.active {color:#6C757D;}
.cxm-sort {font-size:14px;}

.cxm-pro-list {border:1px rgba(0,0,0,0.125) solid; border-radius:0.25rem; margin-bottom:15px;}
/*.cxm-pro-list:hover {box-shadow:0px 0px 10px #999; background-color:rgba(15, 52, 108, 0.1);}*/
.cxm-pro-list .cxm-detail .cxm-img {position:relative; margin-bottom:5px;}
.cxm-pro-list .cxm-detail .cxm-img .cxm-img-badge {position:absolute; padding:3px 5px; background-color:rgba(0, 0, 0, 0.5);}
.cxm-pro-list .cxm-detail .cxm-content {padding-left:10px;}
.cxm-pro-list .cxm-detail .cxm-content h2, .cxm-pro-list .cxm-detail .cxm-content h2 a {font-size:20px; color:#222;}
.cxm-pro-list .cxm-detail .cxm-content .cxm-call {font-size:12px; line-height:14px; font-weight:700; color:#999; margin-bottom:4px;}
.cxm-pro-list .cxm-detail .cxm-content .cxm-features {font-size:12px; line-height:14px; font-weight:700; color:#0F346C; margin-bottom:8px;}
.cxm-pro-list .cxm-detail .cxm-content p {font-size:14px; line-height:18px; text-align:justify;}
.cxm-pro-list .cxm-img-strip {padding:0px 15px 10px 15px;}
.cxm-pro-list .cxm-img-strip img {width:100px; margin-right:3px; margin-bottom:5px;}

.cxm-pro-list .cxm-actions {margin:15px 0px; padding:15px; border-left:1px #EEE solid;}

.cxm-pro-grid .carousel .carousel-inner {border-top-left-radius:5px; border-top-right-radius:5px;}
.cxm-pro-grid .cxm-content {border-top:3px #158CBA solid; padding:10px; margin-bottom:35px; box-shadow:0px 0px 5px #999; border-bottom-left-radius:5px; border-bottom-right-radius:5px;}
.cxm-pro-grid .cxm-content .price {font-size:35px; line-height:35px; color:#158CBA; font-weight:300;}

.cxm-contacts {color:#EEE;}
.cxm-contacts a {font-size:13px;}
.cxm-price {font-size:30px; padding:15px 0px; margin:15px auto 20px auto; text-align:center; border-top:1px #999 solid; border-bottom:1px #999 solid;}
.cxm-price .amount {font-size:36px; font-weight:bold;}

.cxm-tabs .nav-tabs {border-bottom:1px solid #158CBA;}
.cxm-tabs .nav-tabs .nav-link {color:#333; background-color:#DDD; margin-right:2px; margin-bottom:0; font-size:13px;}
.cxm-tabs .nav-tabs .nav-link:focus, .cxm-tabs .nav-tabs .nav-link:hover {border-color:#158CBA #158CBA #158CBA;}
.cxm-tabs .nav-tabs .nav-item.show .nav-link, .cxm-tabs .nav-tabs .nav-link.active {color:#FFF; background-color:#158CBA; border-color:#158CBA #158CBA #158CBA;}
.cxm-tabs .tab-content {background-color:#FFF; padding:20px 10px; border:1px #158CBA solid; border-top:none;}
.cxm-tabs .tab-content h3 {padding:0px 10px; margin-left:-10px; font-size:20px; font-weight:bold; display:inline-block;}
.cxm-tabs .tab-content h3:before {content:""; padding:0px 0px; line-height:40px; font-family:FontAwesome; }

.cxm-facts, .cxm-facts li {margin:0px; padding:0px; list-style-type:none;}
.cxm-facts {margin:10px 0px;}
.cxm-facts li {display:inline-block; margin-right:25px;}

.cxm-vihecle-box .cxm-img {position:relative; margin-bottom:10px;}
.cxm-vihecle-box .cxm-img .cxm-img-badge, .cxm-vihecle-box .cxm-img .cxm-img-badge-cls {position:absolute; padding:3px 5px; background-color:rgba(0, 0, 0, 0.5); color:#FFF; right:0; bottom:0;}
.cxm-vihecle-box .cxm-img .cxm-img-badge-cls {top:0; bottom:auto;}

.cxm-vihecle-box .cxm-feature-item {color:#158CBA; padding:10px;}
.cxm-vihecle-box .cxm-feature-item.active {color:#FFF; background-color:#0F346C; border-radius:4px;}

/*.cxm-vihecle-box .card-header a {color:#FFF; text-decoration:none; display:block; background-color:#158CBA; padding:10px;}
.cxm-vihecle-box .card-header a.active {color:#FFF; text-decoration:none; display:block; background-color:#0F346C;}
.cxm-vihecle-box .card-header a.collapsed {color:#158CBA; background-color:transparent;}
.cxm-vihecle-box .card-header a:before {font-family:FontAwesome; content:"\f068"; padding-right:5px; float:right;}
.cxm-vihecle-box .card-header a.collapsed:before {content:"\f067";}*/

.cxm-list-group .list-group-item {line-height:18px;}
.cxm-list-group .list-group-item:hover {background-color:#F6F6F6; border-color:#C9C9C9;}
.cxm-list-group .list-group-item.active {background-color:#C1C1C1; border-color:#C9C9C9;}
.cxm-list-group .list-group-item.active:before {content:""; height:100%; position:absolute; top:0; left:0; background-color:#158CBA;
-webkit-clip-path: polygon(0 0, 0% 100%, 50% 50%);
clip-path: polygon(0 0, 0% 100%, 50% 50%);
}

.cxm-list-group .list-group-item a {color:#333; font-weight:bold;}
.cxm-list-group .list-group-item a:hover {text-decoration:none;}
.cxm-list-group .list-group-item.active a {color:#0f346c;}
.cxm-list-group .list-group-item .info-txt {font-size:12px; color:#999;}
.cxm-list-group .list-group-item.active .info-txt {font-size:12px; color:#0f346c;}
.cxm-list-group .list-group-item .badge {position:absolute; top:20px; right:10px; border-radius:50%;}

.cxm-advert-item .cxm-img {position:relative; margin-bottom:5px;}
.cxm-advert-item .cxm-img .cxm-img-badge {position:absolute; padding:3px 5px; background-color:rgba(0, 0, 0, 0.5); color:#FFF;}

.social-media {margin-top:20px; text-align:center;}
.social-media a {display:inline-block; width:37px; height:37px; line-height:37px; padding:0; border-radius:50%; text-align:center; background-color:#158CBA; color:#FFF;}
.social-media a:hover {color:#158CBA; background-color:#FFF;}

.footer {}
.footer .logos {margin-bottom:20px; border-bottom:1px #184EA1 solid;}
.footer .footer-cols h5 {border-bottom:1px #999 dashed; padding-bottom:10px; font-size:20px; font-weight:bold; color: #ffff;}
.footer .footer-nav {font-size:14px;}
.footer .footer-nav ul {margin:0px; padding:0px; list-style-type:none;}
.footer .footer-nav ul li {margin:0px; padding:2px 0px;}
.footer a {color:#FFF;}
.footer a:hover {color:#FFF;}
.footer .social-media a:hover {color:#158CBA; background-color:#FFF;}
.footer .blog-list p {line-height:16px;}
.copyright {border-top:1px solid #CCC; text-align:center; font-size:14px; padding:20px;}

.back-to-top {position:fixed; bottom:40px; right:0px; color:#000; background-color:rgba(235, 235, 235, 0.5); padding:15px 17px; display:none; z-index:9999; right:10px;}
.back-to-top:hover {background-color:rgba(135, 135, 135, 0.5); color:#FFF; text-decoration:none;}

/* The actual timeline (the vertical ruler) */
.timeline {position:relative; max-width:1200px; margin:0 auto;}
.timeline::after {content:''; position:absolute; width:3px; background-color:#FFF; top:15px; bottom:0; left:50%; margin-left:-3px;
/* http://colorzilla.com/gradient-editor/#f26226+0,f26226+50,000000+100&1+0,1+50,0+100  
background: -moz-linear-gradient(top, rgba(242,98,38,1) 0%, rgba(242,98,38,1) 50%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(top, rgba(242,98,38,1) 0%,rgba(242,98,38,1) 50%,rgba(0,0,0,0) 100%);
background: linear-gradient(to bottom, rgba(242,98,38,1) 0%,rgba(242,98,38,1) 50%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26226', endColorstr='#00000000',GradientType=0 );*/
}
.timeline::after{
    content: '';
    position: absolute;
    width: 20px;
    background-color: #FFF;
    top: 50%;
    bottom: 0;
    left: 49.3%;
    margin-left: -3px;
    background: url(../images/line.png) repeat-y;
    height: calc(100% - 250px);
    transform: translateY(-52%);
} 
.timeline-container {padding:10px 50px; position:relative; background-color:inherit; width:50%;}
.timeline-container::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    right: -35px;
    background-color: #F26226;
    border: 4px solid #F26226;
    top: 50%;
    border-radius: 50%;
    z-index: 1;
    transform: translateY(-50%);
}
.timeline-container .num {
    position: absolute;
    left: 98.5%;
    z-index: 2;
    color: #FFF;
    top: 50%;
    font-size: 30px;
    line-height: 30px;
    transform: translateY(-50%);
	font-weight: 600;
}
.timeline-container.timeline-left .num {left:98.5%;}
.timeline-container.timeline-right .num {left:-1.5%;}
.timeline-left {left:0;}
.timeline-right {left:50%;}
.timeline-left::before{
    content: " ";
    height: 0;
    position: absolute;
    top: 50%;
    width: 0;
    z-index: 1;
    right: 40px;
    border: medium solid rgba(21, 140, 186, 0.1);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgba(21, 140, 186, 0.1);
    transform: translateY(-50%);
} 
.timeline-right::before {
	content:" "; 
	height:0; 
	position:absolute; 
	top:50%; 
	width:0; 
	z-index:1; 
	left:40px; 
	border:medium solid rgba(21, 140, 186, 0.1); 
	border-width:10px 10px 10px 0; 
	border-color:transparent rgba(21, 140, 186, 0.1) transparent transparent;
	transform: translateY(-50%);
}
.timeline-right::after {left:-35px;}
.timeline-content {padding:20px 20px; background-color:rgba(21, 140, 186, 0.1); position:relative;  border-radius:6px;}

/*sm & higher*/
@media (min-width: 768px){
	.header .logo {padding-bottom:10px;}
	.header .navbar-expand-sm .navbar-nav .nav-link {padding-right:.8rem; padding-left:.8rem;}	
	.header .cxm-navbar .navbar-nav .active>.nav-link:before {content:""; position:absolute; height:10px; width:20px; top:99%; left:0; right:0; margin:0 auto; background-color:#F26226;
-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
clip-path: polygon(50% 100%, 0 0, 100% 0);}
}

/*md & higher*/
@media (min-width: 992px){
}

/*md & lesser*/
@media (max-width: 1199px){
	.header .cxm-menu {font-size:18px;}
	
}

/*sm & lesser*/
@media (max-width: 991px){
	.navbar-brand a{padding-left:13px; margin-left:13px;}
	.navbar-brand a img {width:20px;}
}

/*only lg*/
@media (min-width: 1200px){		
	
}

/* only md*/
@media (min-width: 992px) and (max-width: 1199px){
		
}

/* only sm*/
@media (min-width: 768px) and (max-width: 991px){	
	.social-media a {width:27px; height:27px; line-height:27px;}
}

/* only xs*/
@media (max-width: 767px){
	.header .cxm-navbar {border:none;}
	.header .navbar-nav .nav-link {padding-right:10px; padding-left:10px;}
	.header-margin {margin-top:90px;}
	
	.banner .banner-content {position:static;}
	
	.timeline::after {left:31px;}
	.timeline-container {width:100%; padding-left:70px; padding-right:25px;}
	.timeline-container::before {left:60px; border:medium solid white; border-width:10px 10px 10px 0; border-color:transparent white transparent transparent;}
	.timeline-left::after, .timeline-right::after {left:15px;}
	.timeline-right {left:0%;}
	.timeline-container.timeline-left .num, .timeline-container.timeline-right .num {left:9%;}
	
	#cxm-slider-searches .carousel-control-prev {left:-15px;}
	#cxm-slider-searches .carousel-control-next {right:-15px;}
}
/* only xxs*/
@media (max-width: 420px){
	#cxm-home-slider {height:780px; overflow:hidden;}
	#cxm-home-slider .carousel-inner .carousel-item img {width:auto !important;}
	.timeline-container.timeline-left .num, .timeline-container.timeline-right .num {left:13%;}
			
}
.abb1{
  
    margin-left: -17px;

}
.abb2{
font-size: 20px;
}
.abb3 {
    font-size: 33px;
}

.abb4{
    margin-top: -39px;
    margin-bottom: -29px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%333333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%333333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}
.mr-5, .mx-5 {
    margin-right: 6rem !important;
}